<!-- about.page.html -->

<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 5</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main-container">
    <ion-item>
      <ion-avatar slot="end">
        <img alt="Silhouette of a person's head" src="assets/icons/githubcolor.svg" (click)="redirectToGithub()" />
      </ion-avatar>
      <ion-label>Erich Leonardo Hamm Hernández</ion-label>
    </ion-item>
    <h1>Bienvenido a mi proyecto de Ionic!</h1>
    <div>
      Ionic es la herramienta perfecta para construir aplicaciones móviles utilizando tecnología web. Y ahora, es más fácil que nunca construir y desplegar aplicaciones Ionic completas y listas para producción con Ionic Pro. Ionic Pro es un poderoso conjunto de servicios y características construido sobre el Framework Ionic que trae un nivel totalmente nuevo de agilidad en el desarrollo de aplicaciones a los equipos de desarrollo móvil.
    </div>
    <div>
      Ionic Pro incluye un poderoso conjunto de servicios de DevOps móviles que facilita la gestión de despliegues de aplicaciones, automatiza actualizaciones, monitorea el rendimiento de la aplicación y mucho más. Ionic Pro cuenta con el total apoyo del equipo de Ionic y proporciona una plataforma completa de desarrollo y despliegue de aplicaciones móviles para los equipos que construyen con Ionic. Aprende más sobre Ionic Pro.
    </div>
    <div>
      Ionic Pro cuenta con el total apoyo del equipo de Ionic y proporciona una plataforma completa de desarrollo y despliegue de aplicaciones móviles para los equipos que construyen con Ionic. Aprende más sobre Ionic Pro.
    </div>
    
    <div class="card-container">
      <ion-card>
        <img class="card-image" src="assets/icons/ionic2.svg" />
        <ion-card-header>
          <ion-card-title>IONIC</ion-card-title>
          <ion-card-subtitle>Framework</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          Ionic es muy versátil y es la herramienta perfecta para desarrollar aplicaciones móviles utilizando tecnología web.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <img class="card-image" src="assets/icons/android1.svg" />
        <ion-card-header>
          <ion-card-title>ANDROID</ion-card-title>
          <ion-card-subtitle>System</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          Android es un sistema operativo que funciona para dispositivos móviles Android. Ionic puede abrirse paso en este sistema operativo.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <img class="card-image" src="assets/icons/ios.svg" />
        <ion-card-header>
          <ion-card-title>IOS</ion-card-title>
          <ion-card-subtitle>System</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          Apple desarrolla sistemas operativos y dispositivos que ofrecen una experiencia de usuario de alta calidad. Ionic puede abrirse paso en este sistema operativo.
        </ion-card-content>
      </ion-card>
    </div>

  </div>


</ion-content>
